.spool-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.spool-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.spool-exit {
  opacity: 1;
  position: absolute; /* Add absolute positioning */
  width: 100%; /* Ensure the element doesn't collapse */
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms; /* Add transition for transform */
}
.spool-exit-active {
  opacity: 0;
  transform: translateY(-100%); /* Move the exiting element up by its own height */
  transition: opacity 500ms, transform 500ms;
}
