.spool-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.spool-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.spool-exit {
  opacity: 1;
  max-height: 100%; /* Set initial max-height to element's total height */
  transition: opacity 500ms, max-height 500ms; /* Transition for opacity and max-height */
}
.spool-exit-active {
  opacity: 0;
  max-height: 0; /* Animate max-height to 0 to collapse the element */
  transition: opacity 500ms, max-height 500ms; /* Ensure transitions apply for both properties */
}
